table {
  width: 100%;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  //overflow:hidden !important;
}

tr.mat-header-row {
  background-color: #F1F3F5;
}

tr.mat-row {
  cursor: pointer;
  position: relative;
}

tr.mat-row:hover {
  background-color: #F1F3F5;
}

/* using ::after instead of ::before since ::before will add a new <td> to the table row */
tr.status::after {
  content: '';
  width: 4px;
  height: 60%;
  position: absolute;
  left: -5px;
  top: 20%;
  border-radius: 2px 0 0 2px;
  background-color: var(--status-color);
}

th.mat-header-cell {
  padding: 10px 8px;
}

td.mat-cell, td.mat-footer-cell {
  padding: 12px 8px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 12px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 12px;
}

// to apply style to all columns including the external ones from <ng-content>
:host::ng-deep {
  .mat-checkbox label {
    margin-bottom: 0;
  }
}

.group-header {
  background: #F1F3F5;
  border-radius: 10px 10px 0 0;
  border: 0;
}

.group-header:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.349);
}


