<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

    <!-- Text Columns with or without selection -->
    <ng-container *ngFor="let col of textColumns; let i = index" [matColumnDef]="col.columnDef">
        <th mat-header-cell *matHeaderCellDef [width]="getWidth(col)" [style]="col?.headerStyles">
            <div class="d-flex align-items-center">
                <!-- Master Columns Selection -->
                <div *ngIf="withSelection && i === 0">
                    <mat-checkbox (change)="$event ? toggleAllRowsSelection() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  class="mx-2"
                    >
                    </mat-checkbox>
                </div>
                <!-- Column Label -->
                <div class="w-100" [style.text-align]="col.position">{{ col.label | translate }}</div>
            </div>
        </th>
        <td mat-cell *matCellDef="let row" [width]="getWidth(col)" [style]="col?.cellStyles">
            <div class="d-flex align-items-center">
                <!-- Column Selection -->
                <div *ngIf="withSelection && i === 0">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="toggleRowSelection(row)"
                                  [checked]="selection.isSelected(row)"
                                  class="mx-2"
                    >
                    </mat-checkbox>
                </div>
                <!-- Column Value -->
                <div class="w-100" [style.text-align]="col.position">
                    {{ col.getValue ? col.getValue(row) : (row[col.columnDef] || '-') }}
                </div>
            </div>
        </td>
    </ng-container>

    <!-- External Columns -->
    <ng-content></ng-content>

    <!-- Default Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowAction(row)"></tr>

    <!-- Group Rows : will be used instead of the default row definition above when the `when` parameter has a true value -->
    <tr
        mat-row
        class="group-header"
        *matRowDef="let row; columns: groupColumns; when: isGroup"
        (click)="toggleGroup(row)"
    ></tr>

    <!-- Group header cells -->
    <ng-container *ngFor="let groupCol of tableOptions.groupColumns" [matColumnDef]="'__' + groupCol.name + '__'">
        <td mat-cell [attr.colspan]="groupCol.colspan" *matCellDef="let group">
            <div [style.text-align]="groupCol.position">
                <strong>{{ groupCol.labelFn(group.data, group.groupData) }}</strong>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="__icon__">
        <td colspan="999" mat-cell *matCellDef="let group">
            <div class="d-flex justify-content-end align-items-center">
                <mat-icon *ngIf="!group.isReduced">expand_less</mat-icon>
                <mat-icon *ngIf="group.isReduced">expand_more</mat-icon>
            </div>
        </td>
    </ng-container>


</table>
