table {
  width: 100%;
}

.poidsReel {
  width: 40px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  outline: none;
  border: 1px solid #C1C1C1;
}

.panel{
  background-color: white;
  height: 4rem;
  width: fit-content;
  padding: 1rem;
  border-radius: 5px;
  position: fixed;
  bottom: 2rem;
  z-index: 10;
  cursor: move;
}

.status-bar {
  width: 3px;
  height: 40px;
  border-radius: 2px;
}

.action-btn {
  height: 34px;
  width: 16ch;
  font-weight: 700;
  background-color: #01ABB5;
}
